@charset "utf-8";

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #121212;
    background-color: beige;
}

body p,
h1,
h2,
dt,
dd {
    margin-bottom: 10px;
}

header {
    background: url(../image/naisou1.jpg) no-repeat right center/cover;
    height: 600px;
}

header nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    font-weight: bold;
    color: white;
    background-color: #121212;

}

header nav ul {
    display: flex;
    justify-content: center;
    padding: 20px;
}

header nav ul li {
    margin: 0 60px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

header h1 {
    width: 1000px;
    margin: auto;
    font-size: 120px;
    font-weight: 900;
    padding: 10px;
    margin-top: 100px;
    text-align: center;
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 0 20px 20px beige;
}

header p {
    font-size: 40px;
    font-weight: bold;
    color: beige;
    margin: 40px;
    text-shadow: 2px 2px 4px #121212;
}

/************* メイン・紹介セクション *************/
main #shoukai {
    width: 1100px;
    margin: 0 auto;
}

main #shoukai h2 {
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
}

main .kodawari {
    display: flex;
    margin: 20px;
    justify-content: center;
}

main div p {
    margin: 10px;
}

/************** 店舗情報セクション **************/
#info {
    background-color: #121212;
    color: beige;
    padding: 30px 0;
}

main dl {
    width: 1100px;
    display: flex;
    margin: 0 auto;
}

main dl div {
    margin: 10px;
}

main #info h2 {
    font-size: 26px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

/************** フッターエリア *****************/
footer {
    background-color: #121212;
    color: beige;
    padding: 30px 0;
}

footer p {
    text-align: center;
}